.maincontainer {
    padding-top: 4%;
}

th.file-name {
    width: 40%;
}

th.file-size {
    width: 5%;
    text-align: center;
}

td.file-size {
    text-align: right;
}

th.file-tools {
    width: 55%;
}
