@(files: model.ServerRootFolder)

@main("Thea Explorer") {

    <div class="container maincontainer">

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="file-name">Name</th>
                            <th class="file-tools"></th>
                            <th class="file-size" colspan="2">Size</th>
                        </tr>
                    </thead>

                    @views.html.lines( files.pagedContent(0) )

                </table>
            </div>
        </div>

        <footer>
            <p>&copy; cRiMi</p>
        </footer>

    </div>

    <!-- Modals -->
    @views.html.modalConf()
}
