@(files: List[model.ServerEntity])

@main("Thea Explorer") {

    <div class="container maincontainer">

        <div class="well">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="file-name">Name</th>
                        <th class="file-size">Size</th>
                    </tr>
                </thead>

                @for(file <- files) {
                    @views.html.line( file )( 0 )( 0 )
                }

            </table>
        </div>

        <footer>
            <p>&copy; cRiMi</p>
        </footer>

    </div>


}
