@(files: List[model.ServerEntity])

@main("Welcome in the Thea Explorer") {

    <div class="container maincontainer">

            <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="well">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="file-name">Name</th>
                        <th class="file-size">Size</th>
                    </tr>
                </thead>

                @for(file <- files) {
                    @views.html.line( file )
                }

            </table>
        </div>

        <footer>
            <p>&copy; cRiMi</p>
        </footer>

    </div>


}
