
$(document).ready(function () {
    setTimeout( openSSEConnection, 400 );

    $('#saveConf').click(function (e) {
        var path = $('#rootPath').val();
        var regex = new RegExp( $('#rootPath').attr('pattern') );

        if( regex.test(path) ) {
            $('#confModal').modal('hide');
            $.post('@routes.Dashboard.setConf()', { rootPath: $('#rootPath').val() });
            setTimeout("location.href='/splash';", 1000);
        }
        else {
            $('#rootPath').tooltip('show');
            setTimeout("$('#rootPath').tooltip('hide')", 2000);
        }
    });
});

