
$(document).ready(function () {
    var nextStep = 0;

    setTimeout( openSSEConnection, 400 );

    $('#saveConf').click(function (e) {
        var path = $('#rootPath').val();
        var regex = new RegExp( $('#rootPath').attr('pattern') );

        if( regex.test(path) ) {
            $('#confModal').modal('hide');
            $.post('@routes.Dashboard.setConf()', { rootPath: $('#rootPath').val() });
            setTimeout("location.href='/splash';", 1000);
        }
        else {
            $('#rootPath').tooltip('show');
            setTimeout("$('#rootPath').tooltip('hide')", 2000);
        }
    });

    $(window).scroll(function() {
        if( $(window).scrollTop() + $(window).height() == $(document).height() ) {
            var diplayedFolders = $('tr[parent="tr-0"]').length;

            if ( diplayedFolders % 30 == 0 && diplayedFolders != 0 && diplayedFolders / 30 >= nextStep ) {
                nextStep = diplayedFolders / 30 + 1;
                $('table').append('<img id="loadergif" class="center-block" src="@routes.Assets.at("images/loader.gif")"/>');
                var noPage = diplayedFolders / 30;
                $.post('@routes.Dashboard.getNextPageNo()', { noPage: noPage });
            }
        }
    });
});

