@(entity: model.ServerEntity)(depth: Int)(parentId: Int)

<tr id="tr-@entity.hashCode()" parent="tr-@parentId"
    @if( depth != 0 ) { hidden}
    @if( entity.isInstanceOf[model.ServerFolder] ) { folder="closed"}
>
    <td>
        <div style="margin-left: @{depth * 17}px;">
            <a @if( entity.isInstanceOf[model.ServerFolder] ) {onclick="openClose('tr-@entity.hashCode()')"} else {href="download/@entity.path"}>
                <i class="glyphicon @entity.icon"></i> @entity.name
            </a>
        </div>
    </td>
    <td><a class="glyphicon glyphicon-cloud-download" href="@if( entity.isInstanceOf[model.ServerFolder] ) {downloadZip@entity.path} else {download/@entity.path}"></a></td>
    <td class="file-size">@entity.formatedSize._1</td>
    <td>@entity.formatedSize._2</td>
</tr>

@for( file <- entity.content ) {
    @views.html.line( file )( depth + 1 )( entity.hashCode() )
}