@(entity: model.ServerEntity)(depth: Int)(parentId: Int)

<tr id="tr-@entity.hashCode()" parent="tr-@parentId"
    @if( depth != 0 ) { hidden}
    @if( entity.isInstanceOf[model.ServerFolder] ) { folder="closed"}
>
    <td>
        <div style="margin-left: @{depth * 17}px;">
            <a @if( entity.isInstanceOf[model.ServerFolder] ) {onclick=openClose('tr-@entity.hashCode()')}>
                <i class="glyphicon @entity.icon"></i> @entity.name
            </a>
        </div>
    </td>
    <td>@entity.size</td>
</tr>

@for( file <- entity.content ) {
    @views.html.line( file )( depth + 1 )( entity.hashCode() )
}