@(entity: model.ServerEntity)(depth: Int)(parentId: Int)

<tr id="tr-@entity.hashCode()" parent="tr-@parentId"
    @if( depth != 0 ) { hidden}
    @if( entity.isInstanceOf[model.ServerFolder] ) { folder="closed"}
>
    <td>
        <div style="margin-left: @{depth * 17}px;">
            @views.html.customA( entity )
        </div>
    </td>
    <td><a class="glyphicon glyphicon-cloud-download" href="@if( entity.isInstanceOf[model.ServerFolder] ) {download/zip@entity.path} else {download/file/@entity.path}"></a></td>
    <td class="file-size">@entity.formatedSize._1</td>
    <td>@entity.formatedSize._2</td>
</tr>

@for( file <- entity.content ) {
    @views.html.line( file )( depth + 1 )( entity.hashCode() )
}