@(pathFromRoot: String, relativePath: String)

<div class="modal fade" id="picViewing">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    @if( relativePath.contains("--") ){ @relativePath.substring( 2 ).substring( relativePath.lastIndexOf("---") + 1 ) } else { @relativePath.substring( relativePath.lastIndexOf("---") + 1 ) }
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    <img id="picUrl" width="560 px" src="@routes.Dashboard.picGetter( pathFromRoot )">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="@{"download/file/" + relativePath}"><button type="button" class="btn btn-primary" id="downloadPic">Download</button></a>
            </div>
        </div>
    </div>
</div>