<div class="modal fade" id="confModal" tabindex="-1" role="dialog" aria-labelledby="confModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confModalLabel">Configuration</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="rootPath" class="col-sm-3 control-label">Root path :</label>
                        <div class="col-sm-9">
                            <input name="rootPath"
                            id="rootPath"
                            class="form-control"
                            value="@Application.config("root-folder")"
                            type="text"
                            data-toggle="tooltip" data-placement="top" data-trigger="manual" title="Please respect the Unix path pattern"
                            placeholder="/directory/you/want/to/see"
                            pattern="^(?:/[^/\n]+)*?$"
                            required/>
                            <span class="help-block">Be carefull, the application will get all files until the last leaf. A folder to high in the hierarchy will probably make it crash (see "Known issues" section on our GitHub.)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveConf" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>