
function openSSEConnection() {
    var pushSource = new WebSocket( 'ws://localhost:9000/sse' )

    pushSource.onopen = function(e) {
        console.log("[INFO] SSE channel opened !")
    }

    pushSource.onerror = function(e) {
        if (pushSource.readyState == EventSource.CLOSED) {
            console.log("[INFO] SSE channel closed !")
        } else {
            console.log("[ERROR] SSE channel error : %s", e)
        }
    }

    pushSource.onmessage = function ( event ) {
        var data = JSON.parse( event.data )
        console.log( "Update id: " + data.id + " => " + data.command)

        switch( data.command ) {
            case "refreshProgressBar":
                $('#splashProgressBar').attr('aria-valuenow', data.pourcentage);
                $('#splashProgressBar').attr('style', "width: " + data.pourcentage + "%");
                $('#pourcentage').html(data.pourcentage);
                break;

            case "nextPage":
                var page = data.noPage;
                $.get( '/getPage/' + page, function( html ) {
                    $('#loadergif').remove();
                    $('tbody').append( html );
                }, 'html');
        }
    }
}